<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="item">
            <h2><span jhiTranslate="shoppingTwistApp.item.detail.title">Item</span> {{item.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="shoppingTwistApp.item.name">Name</span></dt>
                <dd>
                    <span>{{item.name}}</span>
                </dd>
                <dt><span jhiTranslate="shoppingTwistApp.item.price">Price</span></dt>
                <dd>
                    <span>{{item.price}}</span>
                </dd>
                <dt><span jhiTranslate="shoppingTwistApp.item.quantity">Quantity</span></dt>
                <dd>
                    <span>{{item.quantity}}</span>
                </dd>
                <dt><span jhiTranslate="shoppingTwistApp.item.description">Description</span></dt>
                <dd>
                    <span>{{item.description}}</span>
                </dd>
                <dt><span jhiTranslate="shoppingTwistApp.item.shoppingList">Shopping List</span></dt>
                <dd>
                    <div *ngIf="item.shoppingList">
                        <a [routerLink]="['/shopping-list', item.shoppingList?.id, 'view']">{{item.shoppingList?.name}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/item', item.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
