<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="shoppingList">
            <h2><span jhiTranslate="shoppingTwistApp.shoppingList.detail.title">Shopping List</span> {{shoppingList.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="shoppingTwistApp.shoppingList.name">Name</span></dt>
                <dd>
                    <span>{{shoppingList.name}}</span>
                </dd>
                <dt><span jhiTranslate="shoppingTwistApp.shoppingList.category">Category</span></dt>
                <dd>
                    <div *ngIf="shoppingList.category">
                        <a [routerLink]="['/category', shoppingList.category?.id, 'view']">{{shoppingList.category?.name}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="shoppingTwistApp.shoppingList.shopper">Shopper</span></dt>
                <dd>
                    <div *ngIf="shoppingList.shopper">
                        <a [routerLink]="['/shopper', shoppingList.shopper?.id, 'view']">{{shoppingList.shopper?.displayName}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="shoppingTwistApp.shoppingList.items">Items</span></dt>
                <dd>
                    <div *ngIf="shoppingList.items">
                        <tr *ngFor="let item of shoppingList.items; trackBy: trackId">
                            <td><a [routerLink]="['/item', item?.id, 'view']">{{item?.name}}</a></td>
                        </tr>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/shopping-list', shoppingList.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
