<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="shopper">
            <h2><span jhiTranslate="shoppingTwistApp.shopper.detail.title">Shopper</span> {{shopper.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="shoppingTwistApp.shopper.displayName">Display Name</span></dt>
                <dd>
                    <span>{{shopper.displayName}}</span>
                </dd>
                <dt><span jhiTranslate="shoppingTwistApp.shopper.phoneNumber">Phone Number</span></dt>
                <dd>
                    <span>{{shopper.phoneNumber}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/shopper', shopper.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
